nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='/') SuperHost
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Login
      li.nav-item
        a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
      li.nav-item.dropdown
        a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
        .dropdown-menu(aria-labelledby='dropdown01')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
    if user
      p Welcome #{user.first_name} #{user.last_name}
    else
      a.btn.btn-primary(href='/login', role='button') Login
