nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='/') SuperHost
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNavbar', aria-controls='mainNavbar', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #mainNavbar.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/pricing') Pricing
      //-li.nav-item
        a.nav-link(href='#', tabindex='-1', aria-disabled='true') Disabled
      //-li.nav-item.dropdown
        a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
        .dropdown-menu(aria-labelledby='dropdown01')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
    if user
      p.text-light Welcome #{user.first_name} #{user.last_name}
      a.btn.btn-info.btn-lg(href='/login')
        span.glyphicon.glyphicon-log-out
        |  Log out
      //-a.btn.btn-success.mr(href='/login', role='button') Logout
    else
      a.btn.btn-success.mr-2(href='/login', role='button') Login
      a.btn.btn-success(href='/register', role='button') Register
