extends layout
block append styles
  link(rel='stylesheet',href='/stylesheets/main.css')
  link(rel='stylesheet',href='/stylesheets/about.css')
block content
  #banner.row.justify-content-center.align-items-center.banner-holder
    .col
      section.inner
        h1 WHEN INTERNET BECOMES YOUR SECOND HOME
        p Let your space work for you.
      video.video(autoplay='', loop='', muted='', playsinline='', src='images/cover-video.mp4')
  .row.py-5.justify-content-center
    .col-md-10.text-center
      h1 SEE YOU ON YOUR WEBSITE
      p Everybody dreamed of their business has a website, and they are afraid that that’s a luxury they can’t afford it. There is no luxury when it comes to us. Every growing business need a space to grow and what is a better space than internet itself.
      strong "WHAT IS A BETTER RECOMMENDATION THAN SATISFIED GUEST"
  .row.justify-content-around.pb-5
    .col-md-4.text-center 
      h2 Reviews:
      video.w-100(autoplay='',controls, muted='', playsinline='', src='images/reviews.m4v')
    .col-md-6.text-center
      h2.mb-5 Founders words
      img.rounded-circle(src="images/pic02.jpg")
      blockquote.py-5.px-5
        | Goran Mrvic was born in Serbia, after graduating from culinary arts, Goran moved in 2007 to the United States. He lived in California for 6 years and eventually moved to New York City to pursue his passion for Film. He ends up in Cannes to receive an award for the best art film for the movie “Hannah Can you hear me?’ Which he was the director of photography. During this transition Goran was introduced to Airbnb and he become a host. Since Then He hosted personally over 300 guest from all different parts of the world and he was able to become a super host and keep that status for many years! Goran has been host over 6 years now and through this process he was able to understand the system and also always adapt and learn new ways of becoming better and better. With his hard work and a dedication of many years and his team ( that he personally Trained to the highest standards ) Goran can help you become and stay super host. He was able to help many other host to improve their hosting experience and he would love to be also part of your’s too. you can check my Airbnb page here Yours, Goran M 
