extends layout
block append metaTags
  meta(name="description", content="Welcome to I am Super Host, platform for rental management and co-hosting services!")
block append styles
  link(rel='stylesheet',href='/stylesheets/main.css')
block content
  #banner.row.justify-content-center.align-items-center.banner-holder
    .col
      section.inner
        h1 I am Super Host
        p Let your space work for you.
      video.video(autoplay='', loop='', muted='', playsinline='', src='images/cover-video.mp4')
  .row.py-5
    .col.text-center
      h1 This is not luxury
  .row.justify-content-around
    .col-md-3.col-sm-5.m-5.m-sm-1.m-md-2.icon-container.d-flex.flex-column.justify-content-center
      .card.card-flip.h-100
        .card-front.text-white.bg-secondary
          .card-body
            i.fas.fa-home.favicon
            h4 BUILD YOUR LISTING WITH US
        .card-back.bg-white
          .card-body
            //-h3.card-title Back
            //-p.card-text We build listings for you on multiple platforms AirBnB, Vrbo, Booking
            blockquote We build listings for you on multiple platforms AirBnB, Vrbo, Booking
            //-a.btn.btn-outline-secondary(href='#') Action
    .col-md-3.col-sm-5.m-5.m-sm-1.m-md-2.icon-container.d-flex.flex-column.justify-content-center
      .card.card-flip.h-100
        .card-front.text-white.bg-secondary
          .card-body
            i.fas.fa-exchange-alt.favicon
            h4 CHECK-IN AND CHECK-OUT HAS NEVER BEEN EASIER
        .card-back.bg-white
          .card-body
            //-h3.card-title Back
            //-p.card-text We build listings for you on multiple platforms AirBnB, Vrbo, Booking
            blockquote Managing check-ins and check-outs as well as communicating with guest during their stay    
    .col-md-3.col-sm-5.m-5.m-sm-1.m-md-2.icon-container.d-flex.flex-column.justify-content-center
      .card.card-flip.h-100
        .card-front.text-white.bg-secondary
          .card-body
            i.fas.fa-broom.favicon
            h4 FULL CLEANING SERVICES
        .card-back.bg-white
          .card-body
            //-h3.card-title Back
            //-p.card-text We build listings for you on multiple platforms AirBnB, Vrbo, Booking
            blockquote Taking care of cleaning services (communicating with cleaners, cleaning on demand, finding best offers)    
    .col-md-3.col-sm-5.m-5.m-sm-1.m-md-2.icon-container.d-flex.flex-column.justify-content-center
      .card.card-flip.h-100
        .card-front.text-white.bg-secondary
          .card-body
            i.fas.fa-headset.favicon
            h4 24/7 SUPPORT
        .card-back.bg-white
          .card-body
            //-h3.card-title Back
            //-p.card-text We build listings for you on multiple platforms AirBnB, Vrbo, Booking
            blockquote We are always here for you 24/7    
    .col-md-3.col-sm-5.m-5.m-sm-1.m-md-2.icon-container.d-flex.flex-column.justify-content-center
      .card.card-flip.h-100
        .card-front.text-white.bg-secondary
          .card-body
            i.fas.fa-paper-plane.favicon
            h4 FAST REPLIES - WITHIN 5 MINUTES
        .card-back.bg-white
          .card-body
            //-h3.card-title Back
            //-p.card-text We build listings for you on multiple platforms AirBnB, Vrbo, Booking
            blockquote Replying fast is what matters most in this business         
    .col-md-3.col-sm-5.m-5.m-sm-1.m-md-2.icon-container.d-flex.flex-column.justify-content-center
      .card.card-flip.h-100
        .card-front.text-white.bg-secondary
          .card-body
            i.far.fa-envelope.favicon
            h4 AUTO MESSAGES
        .card-back.bg-white
          .card-body
            //-h3.card-title Back
            //-p.card-text We build listings for you on multiple platforms AirBnB, Vrbo, Booking
            blockquote **Coming soon     
  .row.justify-content-center.goal-container
    .col
      h2 OUR GOAL
      p
        | Super Host is our primary goal. Our agency provides full service in retail business managing multiple
        | platforms. We know how hard is to be Super Host and to manage Your place beside Your other job. We are fully
        | committed to things we do that’s why our client dream is also our own dream and client is not just a number he
        | is a family. As a family we share same success of working together towards Your goal. Full service is not a
        | luxury it’s a need. Managing account, managing cleaning, managing supplying, organizing calendar, opening
        | listings on other platforms, supervising the account are just ordinary things when it comes to doing the job
        | right. “Let Your space do all the work for You” that is our motto. Why to work when You can just relax and let
        | money flow in Your life.
  .team-container
    .row.justify-content-center
      .col
        h2 OUR TEAM
    .row.justify-content-center
      .col-sm-10.col-lg-3.mx-lg-1.mb-lg-0.ml-sm-2.mr-sm-2.col-md-4.ml-md-2.mr-md-2.mx-5.mx-sm-5.mb-5.mb-sm-5.icon-container.d-flex.flex-column.justify-content-between
        blockquote Goran is in charge of the finding best deals for You. Negotiating with the cleaners about their prices. 
        .author.align-items-center
          .image
            img(src='images/pic02.jpg')
          p.credit
            strong Goran Mrvic
            span - CEO @ SuperHost
      .col-sm-10.col-lg-3.mx-lg-4.mb-lg-0.ml-sm-2.mr-sm-2.col-md-4.ml-md-2.mr-md-2.mx-5.mx-sm-5.mb-5.mb-sm-5.icon-container.d-flex.flex-column.justify-content-between
        blockquote Svetlana is in charge of market research and finding best price for Your B&B
        .author.align-items-center
          .image
            img(src='images/pic01.jpg')
          p.credit
            strong Svetlana Nikolic
            span - Vice-president @ SuperHost
      .col-sm-10.col-lg-3.mx-lg-1.mb-lg-0.ml-sm-2.mr-sm-2.col-md-4.ml-md-2.mr-md-2.mx-5.mx-sm-5.mb-5.mb-sm-5.icon-container.d-flex.flex-column.justify-content-between
        blockquote Ivan is responsible for communication with guests, cleaners and hosts.
        .author.align-items-center
          .image
            img(src='images/pic03.jpg')
          p.credit
            strong Ivan Nikolic
            span - Vice-president @ SuperHost
