doctype html
html
  head
    title= title    
    block metaTags
      meta(charset="UTF-8")
      meta(name="author", content="Igor Nikolic")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="keywords", content="host, superhost, iamsuperhost, apartment, guest, host, co-host, accommodation, rental, cleaning, vacation, listing, check, in, out")
    block styles
      link(rel="icon", href="/images/favicon.ico")
      link(rel='stylesheet',href='/stylesheets/dist/bootstrap.min.css')
      link(rel="canonical" href="https://www.iamsuperhost.com")   
  body
    include components/nav
    main.container-fluid(role='main')
      block content
    block scripts
      script(src='/javascripts/dist/jquery-3.4.1.min.js')
      script(src='/javascripts/dist/bootstrap.bundle.min.js')
      script(src='https://kit.fontawesome.com/85c5e091ad.js', crossorigin='anonymous')
    //-include components/footer


