extends layout
block append styles
  link(rel='stylesheet', href='/stylesheets/main.css')
  link(rel='stylesheet', href='/stylesheets/about.css')
block content
  #banner.row.justify-content-center.align-items-center.banner-holder
    .col
      section.inner
        h1 BE EVERYWHERE
        p Let your space work for you.
      video.video(autoplay='', loop='', muted='', playsinline='', src='images/cover-video.mp4')
  .row.py-5.justify-content-center
    .col-md-10.text-center
      h1 APPEAR ON EVERY PLATFORM
      p Let others talk about you
  .row.justify-content-around
    .col-md-4
      .card
        img.card-img-top(src='images/rsz_best-vacation-home-rental-homeaway.png', alt='...')
        .card-body
          p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
    .col-md-4
      .card
        img.card-img-top(src='images/rsz_best-vacation-home-rental-homeaway.png', alt='...')
        .card-body
          p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
    .col-md-4 
      .card
        img.card-img-top(src='images/rsz_best-vacation-home-rental-homeaway.png', alt='...')
        .card-body
          p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.