@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
html {
  height: 100%;
}
body {
  padding-top: 3.25rem;
}
body::before {
  content: " ";
  background-image: url(../../images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
main {
  position: relative;
  overflow: hidden;
}
.fixed-top {
  height: 3.25rem;
}
.inner {
  color: wheat;
  opacity: 1;
  z-index: 3;
  position: relative;
  text-align: center;
}
.videoholder {
  position: relative;
  min-height: 35rem;
  width: 100%;
}
.video {
  transform: translateX(50%) translateY(50%);
  bottom: 50%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 50%;
  width: auto;
}
.banner-holder {
  min-height: 35rem;
}
#banner {
  overflow: hidden;
}
.icon-container {
  background-color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}
.favicon {
  font-size: 5rem;
  margin-bottom: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway Light";
}
.highlight-wrapper {
  border-radius: 4px;
  height: 100%;
  padding: 3rem;
  text-align: center;
}
.highlight-wrapper h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem 0;
}
.goal-container {
  background-color: #ce1b28;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(206, 27, 40, 0.25),
      rgba(206, 27, 40, 0.25)
    ),
    url(../../images/bg-goal.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 8rem 0 6rem 0;
}
.team-container {
  text-align: center;
  padding: 6rem 0 6rem 0;
}
.author img {
  border-radius: 100%;
  max-width:100%;
  margin-right: 2rem;
}
.author .image {
  /* margin-right: 1rem; */
  width: 25%;
  min-width: 25%;
  max-width:25%;
}
.author {
  display: flex;
}
blockquote {
  border-left: solid 0.5rem rgba(0, 0, 0, 0.25);
  font-style: italic;
  margin: 0 0 2rem 0;
  padding: 1rem 0 1rem 2rem;
}
.team-container blockquote{
  font-family: "Raleway";
  text-align: left;
}
.credit strong{
  color:#ce1b28;
}
.credit{
  margin:0 auto;
  font-family: "Raleway Light";
  font-size: 0.75rem;
}
.credit span{
  font-style: italic;
}
/* Rotating cards start */

/*
flip card
*/
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

/* Rotating cards end */
footer{
  color:white;
}